header {
  height: 400px;
  width: 100%;
  background-color: #6e4600;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

.imgTag {
  display: flex;
  justify-content: center;

}


