nav {
  display: flex;
  height: 120px;
  /* background-color: #4056a1; */
  background-color: #6e4600;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  color: #FFFFFF;
  padding: 1.5em;
  justify-content: space-between;
}

.arrow {
  color: red;
  animation: ArrowAnimation 1s linear infinite;
  position: absolute;
  bottom: -8px;
}

.adjust {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.logo {
  font-family: 'Bungee';
}

.fixed-nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}


@keyframes ArrowAnimation { 
  0%, 100% {
    bottom: -8px;
  } 
  50% {
    bottom: -18px;
  }
}