nav {
  display: flex;
  height: 120px;
  /* background-color: #4056a1; */
  background-color: #61aba5;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  color: #FFFFFF;
  padding: 1.5em;
  justify-content: space-between;
}

.arrow {
  color: red;
}

.adjust {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: 'Bungee';
}

