#alert-error {
  display: none;
  background-color: crimson;
  color: #d4d4d4;
}

#form-submit-container {
  margin-top: 30px;
}

#tweet-text {
  display: flex;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: solid;
  resize: none;
  outline: none;
  margin-top: 10px;
}

button {
  font-family: 'Bungee';
  cursor: pointer;
}

.space {
  display: flex;
  justify-content: space-between;
  margin-top: 1em
}


.counter {
  font-family: 'Bungee';
}

.single-tweet {
  border: solid;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  word-break: break-word;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.img {
  display: flex;
  align-items: center;
}

#img-size {
  width: 50px;
  margin-right: 10px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.underline {
  border: 0;
  border-top: solid 3px;
  color: #545149;
  margin-bottom: 5px;
}

.timeline {
  font-size: small;
}

.status {
  margin-bottom: 10px;
  font-size: small;
  color: blue;
  cursor: pointer;
}

#handler {
  opacity: 50%;
}

#tweets-container {
  min-width: 600px;
}

.header-container {
  margin-top: 120px;
}

i.status:hover {
  color: gold;
}

.single-tweet:hover {
  box-shadow: 3px 5px #d4d4d4;
}

.single-tweet:hover #handler {
  opacity: 100%;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  font-size: 50px;
  color: saddlebrown;
 }
 
 .back-to-top:hover{
  opacity: 0.7;
 }