#tweet-text {
  display: flex;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: solid;
  /* margin-top: 32px; */
}

button {
  font-family: 'Bungee';
}

.space {
  display: flex;
  justify-content: space-between;
  margin-top: 1em
}


.counter {
  font-family: 'Bungee';
}

.single-tweet {
  border: solid;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  word-break: break-word;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.img {
  display: flex;
  align-items: center;
}

#img-size {
  width: 50px;
  margin-right: 10px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.underline {
  border: 0;
  border-top: solid 3px;
  color: #545149;
  margin-bottom: 5px;
}

.timeline {
  font-size: small;
}

.status {
  margin-bottom: 10px;
  font-size: small;
  color: blue;
}

#handler {
  opacity: 50%;
}

i.status:hover {
  color: gold;
}

.main-header:hover {
  box-shadow: 3px 5px #d4d4d4;
}

.main-header:hover #handler {
  opacity: 100%;
}

.fixed-nav {
  position: fixed;
  width: 100%;
  top: 0;
}

.header-container {
  margin-top: 120px;
}